.namestream {
    display: -webkit-box;
    height: 5em;
    margin-top: 0em;
    background-color: darkgrey;
    width: 85%;
}
.namestream h1 {
    font-weight: 700;
    height: 1em;
    font-size: 2em;
}
hr {
    width: 85%;
}