.pagevideo {
    display: -webkit-box;
    height: 100%;
    width: 100%;
    position: fixed;

    .callvideo{
        margin-left: 8%;
        width: 80%;
        height: 50%;
    }
   
    .invitepeople p{
        display: inline;
    }

    .myvideo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background-color: red;
        margin-left: 1%;
        border-radius: 30px;
        width: 80%;
        height: 85%;

    }
    .myvideo video {
        
        position: relative;
        width: 100%;
        display: flex;
        align-self: center;
        border-radius: 29px;
    }
    .controlvideo{
        width: 80%;
        height: 30%;
        margin-bottom: 1%;
    }

    .yourvideo video{
        margin-left: 70%;
        margin-top: -23%;
        width: 15%;
        height: 6%;
        border-radius: 30px;
    }


}

