$btn-font-size: 1rem;
$btn-line-height: 1.6em;
$btn-font-weight: bold;
$btn-border-radius: 0.85em;
$btn-padding: 1.07em 1.8em;

h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.4;
}

h2 {
  font-size: 2.86rem;
  font-weight: bold;
  line-height: 1.425;
}

h3 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 2.3;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.7;
}

a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.7;
}
